<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>STT</th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{i + 1}}</td>
        <td>{{user.id}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>
          <button type="button" style="margin-left:30px" (click)="editUser(user, i)">Edit</button>
          <button type="button" style="margin-left: 30px" (click)="deleteUser(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p>Form Edit</p>
<form class="form" #form="ngForm">
  <label>Id</label>
  <input type="text" name="userId" [(ngModel)]="user.id">
  <label>First Name</label>
  <input type="text" name="firstName" [(ngModel)]="user.first_name">
  <label>Last Name</label>
  <input type="text" name="lastName" [(ngModel)]="user.last_name">
  <button (click)="ok('update')">submit</button>
</form>


<p>Form Add</p>
{{createdUser | json}}
<form class="form">
    <label>Id</label>
    <input type="text" name="userId" id="userId" [(ngModel)]="createdUser.id">
    <label>First Name</label>
    <input type="text" name="firstName" id="firstName" [(ngModel)]="createdUser.first_name">
    <label>Last Name</label>
    <input type="text" name="lastName" id="lastName" [(ngModel)]="createdUser.last_name">
    <button (click)="ok('create')">Insert</button>
</form>